<%= form_for([@character,@relationship]) do |f| %>
  <% if @relationship.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@relationship.errors.count, "error") %> prohibited this relationship from being saved:</h2>
    <ul>
    <% @relationship.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<table>
  <tr>
    <td><%= @character.name %></td>
    <td><%= f.text_field :reverse_name %></td>
  </tr>
  <tr>
    <td><%= @relationship.new_record? ? f.collection_select(:to_id, Character.all - [@character], :id, :name) : @relationship.target.name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
