<p class="notice"><%= notice %></p>

<p>
  <b><%= @relationship.character.name %></b> <i>(<%= @relationship.reverse_name %>)</i> &harr; <b><%= @relationship.target.name %></b> <i>(<%= @relationship.name %>)</i>
</p>

<%= link_to 'Delete', [@character,@relationship], :confirm => "Are you sure?", :method => :delete %> |
<%= link_to 'Edit', edit_character_relationship_path(@character,@relationship) %> |
<%= link_to 'Back', character_relationships_path(@character) %>
