<% content_for :title, @character.name %>
<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<% if @character.parent %>
<p>
  <b>This character is based on <%= link_to @character.parent.name, @character.parent %>.</b>
</p>
<% end %>

<p>
  <b>Description:</b>
  <%= raw(@character.descriptionHTML) %>
</p>

<p>
  <b>Icon:</b>
  <%= image_tag(@character.icon, :alt => @character.name, :title => @character.name) if (@character.icon and @character.icon != "") %>
</p>

<p>
  <b>Relationships:</b> <%= link_to "Show", character_relationships_url(@character) %>
</p>

<% parents = [@character] %>
<% alts = @alternates - parents %>
<% if !alts.empty? %>
<p>
  <b><%= pluralize(alts.count, "character") %> <%= alts.count == 1 ? "is" : "are" %> based on <%= @character.name %>:</b>
  <ul>
  <%= render(:partial => 'character', :collection => alts, :locals => {:parents => parents}) %>
  <li><%= link_to "Create new...", new_alternate_character_url(@character) %></li>
  </ul>
</p>
<% else %>
<p>
  <b>There are no characters based on <%= @character.name %>.</b> Click <%= link_to "here to create one", new_alternate_character_url(@character) %>.
</p>
<% end %>

<% unless @character.tags.empty? %>
  Tags:
  <ul>
  <% @character.tags.each do |tag| %>
    <li><%= link_to tag.name, [tag.category, tag] %> <%= link_to "[Remove]", character_tag_url(@character, tag), :method => :delete %></li>
  <% end %>
  </ul>
<% end %>
<% unused_tags = Tag.all - @character.tags(true) %>
<% unless unused_tags.empty? %>
  Add a tag:
  <ul>
  <% unused_tags.each do |tag| %>
    <li><%= link_to tag.name, [tag.category, tag] %> <%= link_to "[Add]", character_tag_url(@character, tag), :method => :put %></li>
  <% end %>
  </ul>
<% end %>

<br />

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
