<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @character.name %>
</p>

<p>
  <b>Description:</b>
  <%= @character.description %>
</p>

<p>
  <b>Icon:</b>
  <%= @character.icon %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
